<div class="row fullwidth">
  <div class="column page-gutter background-primary"></div>
  <div class="column page-main background-white">
    <div class="row img-container margin-40">
      <img src="{{ pages.currentPage.image }}" alt="{{ 'page number ' + pages.currentPage.pageNum }}">
    </div>
    <div class="row padding-10 background-white page-main-content">
      <p>{{ pages.currentPage.text }}</p>
    </div>
    <div class="row page-main-actions padding-10 background-white">
      <button mat-raised-button (click)="pages.stepPage('dec')" color="primary" [disabled]="pages.prev">Prev</button>
      <div class="page-number">{{ pages.currentPage.pageNum }}</div>
      <button mat-raised-button (click)="pages.stepPage('inc')" color="primary" [disabled]="pages.next">Next</button>
    </div>
  </div>
  <div class="column page-gutter background-primary"></div>
</div>
